@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

html {
  box-sizing: border-box;
  /* background-color: #ddd; */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  padding: 10px;
  width: 100%;
  min-width: 400px;
  margin: auto;
  margin-top: 1rem;
  border: 1px solid lightgray;
  border-radius: 6px;
  font-size: 16px;
}

.input:focus {
  outline: none;
}

.resultContainer {
  margin-top: 1rem;
  min-width: 240px;
  min-height: 520px;
  padding: 1rem;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
}

.noDetail {
  display: none;
}
.detail {
  display: inline;
}

.temp {
  font-size: 3rem;
}
.des {
  font-size: 1.5rem;
}
.btnNoDetail {
  margin-top: 6rem;
}
.btnWithDetail {
  margin-top: 1rem;
}
.moreBtn {
  padding: 5px 25px;
  background-color: rgb(228, 236, 247);
  color: rgb(53, 49, 49);
  border: none;
  outline: none;
  cursor: pointer;
}
